<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content=" width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Matt Elliott | Full Stack Developer</title>

  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="../assets/css/header.css">
  <link rel="stylesheet" href="../assets/css/homepage.css">
  <link rel="stylesheet" href="../assets/css/portfolio.css">
  <link rel="stylesheet" href="../assets/css/contact.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:500,900|Roboto+Mono:700&display=swap" rel="stylesheet">
</head>

<body>
  <header id="site-header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="/" class="navbar-brand" id="logo">
          <h1>meanMatt</h1>
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-navigation"
          aria-controls="site-navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="site-navigation">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio/">portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">contact</a>
            </li>
          </ul>
          <ul class="navbar-nav no-list col-3 social" id="social-links">
            <li class="github">
              <a href="https://github.com/matt-elliott" target="_blank">Github</a>
            </li>
            <li class="linkedIn">
              <a href="https://www.linkedin.com/in/meanmatt/" target="_blank">linkedIn</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>