<footer class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-tan text-center">&copy; 2019 meanMatt. All Rights Reserved.</p>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'
  integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous'></script>
<!-- TODO move this out into an external js file -->
<script>
  function slackIt(data) {
    $.ajax({
      type: 'POST',
      url: '/api/contact',
      data: {data},
      success: () => {
        $('#contact form').fadeOut().remove();
        let h3 = $('<h3/>');
        h3.text(`Thank you for reaching out to me. I'm very excited to talk with you and will respond as soon as I can.`);
        h3.addClass('text-center');
        $('#contact').append(h3);
      }
    });
  }

  function submitHandler(event) {
    event.preventDefault();

    let data = $('#contact-form').serialize();

    slackIt(data);
  }

  $('#contact-submit-btn').on('click', submitHandler);
</script>
</body>

</html>