    <footer class="row">
      <div class="container">
        <div class="col-xs-12">
          <p class="text-tan text-center">&copy; 2019 meanMatt. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>