<% include partials/site-header.ejs %>
    <aside id="breadcrumbs">
      <div class="container">
        <span class="text-tan">> contact</span>
      </div>
    </aside>

    <section id="main-content">
      <div id="contact" class="container">
        <div class="row">
          <form class="col-12" method="post">
            <label for="name">Name</label>
            <input name="name" placeholder="First and Last Names">
            <label for="phone">Phone Number</label>
            <input name="phone" placeholder="(xxx) xxx-xxxx">
            <label for="email">Email</label>
            <input name="email" placeholder="realboy@pinocchio.com">
            <label for="message">Message:</label>
            <textarea rows="4" col="50">
            </textarea>
            <div class="row">
              <input type="submit" value="Submit" class="col-3 offset-3 btn default-btn">
              <input type="reset" value="Clear" class="col-3 btn default-btn">
            </div>
          </form>
        </div>
      </div>
    </section>
<% include partials/site-footer.ejs %>