<% include partials/site-header.ejs %>

    <section id="main-content">
      <div id="homepage" class="container">
        <div class="row">
          <div id="intro-title" class="text-center text-tan col-12">
            <h2>Let me make that <span class="emphasis text-light">for you.</span></h2>
            <hr>
          </div>
          <div id="intro-text" class="text-center text-tan col-12">
            <p class="text-light">
              I am a Full Stack Developer from LA. I have worked on magazines to websites, from backrooms to boardrooms. I can design and code a mean app to handle your business' needs.
            </p>
            <hr>
          </div>
        </div>
        <div class="row">
        <div id="intro-prompt-work" class="text-center col-md-4 offset-2">
            <button class="animated btn default-btn">
              <a href="/portfolio/" class="no-link">
                Check out my work
              </a>
            </button>
          </div>
          <div id="intro-prompt-cv" class="text-center col-md-4">
            <button class="animated btn default-btn">
              <a href="/assets/pdf/matt-elliott-frontend-developer-cv.pdf" class="no-link">
                See Where I've Been
              </a>
            </button>
          </div>
        </div>

      </div>
    </section>

<% include partials/site-footer.ejs %>