<% include partials/site-header.ejs %>
    
    <aside id="breadcrumbs">
      <div class="container">
        <span class="text-tan">> work</span>
      </div>
    </aside>

    <section id="main-content">
      <div id="portfolio" class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 project">
            <div class="container">
              <header class="project-header">
                <h4>What's for Lunch?</h4>
              </header>
              <article class="project-body">
                <div class="row">
                  <p class="col-sm-12 col-lg-6">
                    An app for indecisive teams to figure out what they want for lunch. The app searchs nearby restaurants to match user's search or just find whatever is close by and open.
                  </p>
                  <div class="col-sm-12 col-lg-6 links">
                    <ul class="no-list row"> 
                      <li class="link col-xs-12 col-sm-6 col-lg-12 github">
                        <a href="https://github.com/matt-elliott/APIProject" target="_blank">View on Github</a>
                      </li>
                      <li class="link col-xs-12 col-sm-6 col-lg-12 website">
                        <a href="https://matt-elliott.github.io/APIProject/" target="_blank">View Website</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 project">
            <div class="container">
              <header class="project-header">
                <h4>Liri CLI</h4>
              </header>
              <article class="project-body">
                <div class="row">
                  <p class="col-sm-12 col-lg-6">
                    A Language Interpretation and Recognition Interface to help you find your favorite band's shows, get information on movies, and get information on songs on Spotify.
                  </p>
                  <div class="col-sm-12 col-lg-6 links">
                    <ul class="no-list"> 
                      <li class="link col-xs-12 col-sm-6 col-lg-12 github">
                        <a href="https://github.com/matt-elliott/liri" target="_blank">View on Github</a>
                      </li>
                      <li class="link col-xs-12 col-sm-6 col-lg-12 website">
                        <a href="https://matt-elliott.github.io/lri/" target="_blank">View Website</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 project">
            <div class="container">
              <header class="project-header">
                <h4>Giftastic</h4>
              </header>
              <article class="project-body">
                <div class="row">
                  <p class="col-sm-12 col-lg-6">
                    A simple app to return gifs for any search term. Perfect for finding reactions to your teammember's tea.
                  </p>
                  <div class="col-sm-12 col-lg-6 links">
                    <ul class="no-list"> 
                      <li class="link col-xs-12 col-sm-6 col-lg-12 github">
                        <a href="https://github.com/matt-elliott/Giftastic" target="_blank">View on Github</a>
                      </li>
                      <li class="link col-xs-12 col-sm-6 col-lg-12 website">
                        <a href="https://matt-elliott.github.io/Giftastic/" target="_blank">View Website</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 project">
            <div class="container">
              <header class="project-header">
                <h4>The Wizarding World Train Scheduler</h4>
              </header>
              <article class="project-body">
                <div class="row">
                  <p class="col-sm-12 col-lg-6">
                    A fun app that helps you figure out when the next Hogwarts Express is leaving from Platform 9 3/4. Input train name, departure time, and the frequency they run and the app will tell you when the train is next due.
                  </p>
                  <div class="col-sm-12 col-lg-6 links">
                    <ul class="no-list"> 
                      <li class="link col-xs-12 col-sm-6 col-lg-12 github">
                        <a href="https://github.com/matt-elliott/Train-Scheduler" target="_blank">View on Github</a>
                      </li>
                      <li class="link col-xs-12 col-sm-6 col-lg-12 website">
                        <a href="https://matt-elliott.github.io/Train-Scheduler/" target="_blank">View Website</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include partials/site-footer.ejs %>