#site-header {
  color: var(--tan);
}
#site-header .container {
  border-bottom: 2px solid var(--tan);
}
#site-header #logo {
  padding-left: 0;
}
#site-header #logo h1 {
  font-family: 'Roboto Mono', Courier, monospace;
  letter-spacing: 0.5rem;
  text-align: center;
}
#site-header #site-navigation {
  position: relative;
  background-color: var(--tan);
  min-height: 53px;
}
#site-header #site-navigation ul {
  position: absolute;
  bottom: 0;
  left: 15px;
  text-align: right;
}
#site-header #site-navigation ul.social {
  left: auto;
  right: 5px;
  text-transform: lowercase;
  font-size: 0.8em;
}
#site-header #site-navigation ul li {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  border-bottom: 1px solid var(--dark-gray);
  margin: 0 15px;
}
#site-header #site-navigation ul li a {
  font-family: 'Roboto Mono', Courier, monospace;
}
#site-header #site-navigation ul:not(.social) li a:before {
  position: absolute;
  content: '>';
  left: -15px;
  color: var(--black);
}
#site-header #site-navigigation-toggle {
  max-width: 20%;
  margin: 0;
  padding: 0.5em 0 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  float: left;
}
#site-header #site-navigigation-toggle #navbar-toggle-icon {
  position: relative;
  display: block;
  overflow: hidden;
  text-indent: 2500px;
  text-align: left;
}
#site-header #site-navigigation-toggle #navbar-toggle-icon:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: '\0003D';
  color: var(--tan);
  text-indent: 0;
  font-size: 5em;
  transform: translateY(-50%);
}
#site-header #site-navigigation-toggle #navbar-toggle-icon.active:after {
    color: var(--pearl);
    content: '\2260';
  }
  @media screen and (max-width: 479px) {
    #site-header #site-navigation ul {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #site-header #site-navigation ul {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
  }