/* VARS [START] */
:root {
  --black: rgba(10, 9, 8, 1);
  --dark-gray: rgba(51, 51, 51, 1);
  --blue: rgba(39, 70, 144, 1);
  --pearl: rgba(234, 224, 213, 1);
  --tan: rgba(198, 172, 143, 1);
}
/* VARS [END] */
html {
  
}
body {
  background-color: var(--dark-gray);
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, 'Helvetica Neue', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
}
#main-content > .container {
  min-height: 90vh;
}
.text-center {
  text-align: center;
}
.text-tan {
  color: var(--tan);
}
.text-light {
  color: var(--pearl);
}
.text-dark {
  color: var(--black);
}
.default-btn {
  background-color: var(--blue);
  color: var(--pearl);
  margin: 1rem 0 5rem;
}
.default-btn:hover {
  background-color: var(--pearl);
  color:  var(--blue);
}
.animated {
  transition: 350ms all ease-out;
}
.animated-slow {
  transition: 1s all;
}

.no-list {
  list-style: none;
}
.no-link, .no-link:hover, .no-link:link, .no-link:active, .no-link:focus, .no-link:visited {
  color: inherit;
  text-decoration: none;
}
a, a:active, a:link {
  color: var(--black);
  text-decoration: none;
}
a, a:hover, a:focus {
  color: var(--blue);
  text-decoration: underline;
}
a:visited {
  color: var(--dark-gray);
  text-decoration: none;
}
#breadcrumbs {
  margin: 2em 0;
}
ul {
  padding-left: 0;
}